<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset=utf-8" />
    <title>{% block title %}Jira Vacuum{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <section id="wrapper">
        <header id="header">
            <div class="nav-button"></div>
            <div class="sidebar">
                {% block sidebar %}{% endblock %}
            </div>
        </header>
        <section id="content">
            {% block body %}{% endblock %}
        </section>
    </section>
</body>